.footer__info {
  display: flex;
  align-items: center;
  gap: 10%;
}
.footer__item {
  flex: 1 1 0px;
  /* background-color: yellow; */
}
.footer__title {
  font-weight: 600;
  font-size: 1.2rem;
}
.footer__item__info {
  font-size: .8rem;
}
.footer__socials {
  display: flex;
  justify-content: center;
  gap: .5rem;
  margin-top: 3rem;
}
.footer__copyright {
  text-align: center;
  margin-top: 1.5rem;
}
.footer__attribution {
  text-align: center;
  margin-top: 2rem;
}
.footer__attribution a {
  text-decoration: none;
  color: var(--clr-green);
}