:root {
  --clr-green: #1C786D;
  --clr-black: #13131A;
  --clr-white: #D9D9D9;
  --clr-lightgreen: rgba(234, 245, 243, 0.34);
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: var(--clr-black);
  background-color: var(--clr-lightgreen);
}
html {
  scroll-behavior: smooth;
}
.container {
  width: 98vw;
}
.content {
  width: 86%;
  margin: auto;
}
a:visited {
  color: var(--clr-black);
}